{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
 
 {% block stylesheets %} <link rel="stylesheet" href="jquery.progressbar.css">
 {% endblock %}


{% block body %}


<button type="button" class="btn btn-sm"  ><a href="{{ path('ajout_bon') }}">Ajouter un bon </a></button>
<button type="button" class="btn btn-primary" name="btn_val" id="btn_validate" >Valider la selection</button>
<button type="button" class="btn btn-primary" name="btn_del" id="btn_delete" >Supprimer la selection</button>


            <script>
               $(document).ready(function(){
                      $('#btn_delete').click(function(){
                            if(confirm("are you sure you wanna delete.?")){

                                var bons=[];
                                $(':checkbox:checked').each(function(i){
                                  bons[i]=$(this).val();
                                });
                                if(bons.length===0){
                                  alert ("select at least one::");
                                }
                                else {
                                  $.ajax({
                                    url:"{{ path('delete') }}",
                                    method:'POST',
                                    data:{bons:bons},
                                    success:function(data){
                                      for(var i=0;i<bons.length;i++){
                                        $('tr#'+bons[i]+'').css('background-color','#ccc');
                                        $('tr#'+bons[i]+'').fadeOut('slow');

                                      }
                                    },
                                     complete: function()
                                    {
                                        location.href = dashboard;
                                    }
                                  });

                                }
                            }
                            else{
                              return false;
                            }
                      });
               });   



               /* validation
               bons de commandes */

                $(document).ready(function(){
                      $('#btn_validate').click(function(){
                            if(confirm("êtes vous sûr de vouloir valider ce(s) bon(s)?")){

                                var bons=[];
                                $(':checkbox:checked').each(function(i){
                                  bons[i]=$(this).val();
                                });
                                if(bons.length===0){
                                  alert ("select at least one:");
                                }
                                else {
                                  $.ajax({
                                    url:"{{ path('validate') }}",
                                    method:'POST',
                                    data:{bons:bons},
                                    success:function(data){
                                      for(var i=0;i<bons.length;i++){
                                        $('tr#'+bons[i]+'').css('background-color','#ccc');
                                        $('tr#'+bons[i]+'').fadeOut('slow');

                                      }
                                    },
                                     complete: function()
                                    {
                                        location.href = validate;
                                    }
                                  });

                                }
                            }
                            else{
                              return false;
                            }
                      });
               });   


            </script>

<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <tr>
       
            <th scope="col">Numero de commande </th>
            <th scope="col">Fournisseur</th>
             <th scope="col">Type de document</th>
              <th scope="col">Date de Commande</th>
            <th scope="col">Nom du client</th>
            <th scope="col">Montant</th>
            <th scope="col">Statut</th>
             <th scope="col">Supprimer </th>
             
             <th scope="col">Valider </th>
   

        </tr>
    </thead>
    <tbody>
    {%for bon in bonCommandes %}
  <tr class="toggle " data-toggle="collapse"  href="#collapseOne">
 
              <td class="expand-button">{{bon.numCommande}}</td>


                         

              <td>{{bon.fournisseur}}</td>
              <td>{{bon.typeDocument}}</td>
              <td>{{bon.dateCommande|date("m/d/Y")}}</td>
              <td>{{bon.nomClient}}</td>
              <td>{{bon.montant}}</td>
               <td>{{bon.statut}}</td>
               <td>
                              <div class="form-check">
                                      <input type="checkbox" value="{{bon.id}}" id="flexCheckDefault">
                              </div>
               </td>
               <td>
                              <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="{{bon.id}}" id="flexCheckDefault">
                              </div>
               </td>
               
                

  

</tr>


<tr class="hide-table-padding">
                          <td></td>
                          <td colspan="4">
                                <div id="collapseOne" class="collapse in p-2 ">
                                        <div class="progress">
                <div class="progress-bar" role="progressbar"{%if bon.validManagement == true %} style="width: 30%"{%else%} style="width: 0%"{% endif %}  aria-valuemin="0" aria-valuemax="100">Management</div>
                <div class="progress-bar bg-success" role="progressbar"{%if bon.validBudget == true %} style="width: 30%" {%else%} style="width: 0%" {% endif %}  aria-valuemin="0" aria-valuemax="100">Budget</div>
                <div class="progress-bar bg-info" role="progressbar" {%if bon.validComptabilite == true %} style="width: 40%" {%else%} style="width: 0%" {% endif %} aria-valuemin="0" aria-valuemax="100">Comptabilité</div>
              </div>
                                </div>
                          </td>
              </tr>

  {% endfor %}

     
              
    </tbody>
</table>
  </div>

	<div id="steps"></div>

  <script src="//code.jquery.com/jquery.min.js"></script>
<script src="jquery.progressbar.js">
</script>

<script>
  $('#steps').progressbar({
  // ~: failed
  // @: current
  steps: ['Setp 1', '~Step 2 Failed', '@Step 3 ( Current )', 'Step 4',]
});
</script>




{% endblock %}
